:root{
  --mainBlue    : #0d06ff;
  --lightBlue   : #39baff;
  --mainWhite   : #eafff2;
  --mainDark    : #000000;
  --mainYellow  : #dcff00;
  --mainGray  : #869187;
}
body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}

